<section class="hgroup">
    <div class="container">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sem ligula, venenatis in pulvinar non, aliquam id ante. Etiam congue, orci in vehicula dignissim, velit neque rhoncus leo, non consequat ex risus non augue.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sem ligula, venenatis in pulvinar non, aliquam id ante. Etiam congue, orci in vehicula dignissim, velit neque rhoncus leo, non consequat ex risus non augue. Nam faucibus tincidunt neque, et condimentum enim laoreet quis. Pellentesque scelerisque urna vel vulputate sollicitudin. Cras id sapien a odio hendrerit pellentesque eu eu mauris. In hac habitasse platea dictumst. Phasellus tempus auctor massa, eu feugiat nulla condimentum non. Suspendisse potenti. In suscipit tellus vitae imperdiet egestas.
                </p>
                <p>
                    Nullam eget hendrerit nulla. Donec rutrum massa tellus, et placerat massa placerat ac. Vestibulum varius purus enim. Morbi placerat enim ut ante posuere, vitae ornare tellus posuere. Etiam tortor ante, volutpat a faucibus at, finibus ut nisl. Phasellus ut ante eu velit porttitor tristique ut ut metus. Aliquam semper felis facilisis lectus cursus, sed ornare velit bibendum. Nulla dictum tincidunt tincidunt. Donec et nulla non est lobortis suscipit ac posuere risus. Nam suscipit commodo enim gravida ultrices.
                </p>
                <blockquote>
                    <p>
                       Nam rhoncus dolor vel purus congue, non consequat erat venenatis. Suspendisse feugiat lobortis tincidunt. Suspendisse erat dui, volutpat ut convallis a, cursus eu nulla. Vestibulum eu risus a massa interdum finibus.
                    </p>
                    <small>Proin viverra justo</small>
                </blockquote>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service_teaser vertical">
                    <div class="service_photo">
                        <figure style="background-image:url(assets/images/warrior.jpg)"></figure>
                    </div>
                    <div class="service_details">
                        <h2 class="section_header skincolored"><b>Nam rhoncus dolor</b><small>Maecenas pulvinar porttitor.</small></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
