<section class="hgroup">
    <div class="container">
        <h1>What is Muay Thai Boran?</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sem ligula, venenatis in pulvinar non, aliquam id ante. Etiam congue, orci in vehicula dignissim, velit neque rhoncus leo, non consequat ex risus non augue.</h2>
    </div>
</section>
<section class="article-text">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <p>
          Developed on the battlefields of ancient Siam, Muay Thai Boran is a an umbrella term for a group of traditional Thai martial arts which seeks to train the practitioner to use his or her entire body as an attacking surface. When the ancient Thai warrior lost his weapons on the battlefield, he would resort to Muay Thai Boran to protect himself.
        </p>
        <blockquote>
          <p>
            A practical fighting system which includes fundamental striking methods for the fist, open palm, forearm, elbow, shoulder, foot, shin, knee and hip are taught. Employing devastating striking, bone breaking joint locks and throws, this practical martial art is fast, efficient, resolute and deadly.
          </p>
        </blockquote>
        <p>
            In addition to the offensive and defensive techniques of traditional Muay Thai Boran, specific stepping drills are practiced which include the 3 Treasures Step, Box Stepping and Star Stepping. The key advantage of training these varied stepping methods is the development of speed, balance and precision when advancing, retreating or turning the back. Alongside a plethora of training drills, Muay Thai Boran is primarilly divided into 15 major and 15 minor techniques. These are known as Mae Mai and Luk Mai respectively. These are as follows:
        </p>
        <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="4">MAI MAI</th>
                    </tr>
                    <tr>
                        <th>Thai Name</th>
                        <th>English Name</th>
                        <th>Description</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="technique in techniquesMaeMai">
                        <td width="20%">{{technique.thaiName}}</td>
                        <td width="20%">{{technique.englishName}}</td>
                        <td width="50%">{{technique.description}}</td>
                        <td width="10%"><img src="{{technique.imgSrc}}" border="0" alt="{{technique.englishName}}"></td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="4">LUK MAI</th>
                </tr>
                <tr>
                    <th>Thai Name</th>
                    <th>English Name</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technique in techniquesLukMai">
                    <td width="20%">{{technique.thaiName}}</td>
                    <td width="20%">{{technique.englishName}}</td>
                    <td width="50%">{{technique.description}}</td>
                    <td width="10%"><img src="{{technique.imgSrc}}" border="0" alt="{{technique.englishName}}"></td>
                </tr>
            </tbody>
        </table>
    </p>

      </div>
  </div>
</section>
