<br />
<section>
  <div class="container">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Contact details for Ashtanga, Hatha and Vinyasa Yoga</th>
        <th>Contact details for Bagua Zhang Kung Fu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tel: +27 82 572 9873 (Nicky)</td>
        <td>Tel: +27 82 501 7190 (Paul)</td>
      </tr> 
      <tr>
        <td>Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for yoga" target="_blank">movement@mukti.co.za</a></td>
        <td>Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for bagua zhang" target="_blank" class="underline">movement@mukti.co.za</a></td>
      </tr>          
    </tbody>
  </table>
  </div>
</section>