<br />
<section>
  <div class="container">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Contact details for Tai Ji Kung Fu</th>
        <th>Contact details for Muay Thai, Bagua Zhang and Xing Yi Kung Fu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tel: +27 84 203 7721 (Alan)</td>
        <td>Tel: +27 82 501 7190 (Paul)</td>
      </tr> 
      <tr>
        <td>Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for taiji" target="_blank">enquiries@martial-arts-durban.co.za</a></td>
        <td>Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for martial arts" target="_blank" class="underline">enquiries@martial-arts-durban.co.za</a></td>
      </tr>          
    </tbody>
  </table>
  </div>
</section>