<br />
<section>
    <div class="container">
        <div class="col-sm-12 col-md-12" style="padding:5px">
            <div class="col-sm-12 col-md-12" style="background-color:#999; color:#fff">
                <h4>Contact Details</h4>
            </div>
            <div class="col-sm-12 col-md-12" style="background-color:#ccc">
                <div class="col-sm-6 col-md-6">
                    <h5><strong>Tai Ji Chuan</strong></h5>
                </div>
                <div class="col-sm-6 col-md-6">
                    <h5><strong>Bagua Zhang, Xing Yi Chuan and Muay Thai Boran</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-6 col-md-6">+27 84 203 7721 (Alan)</div>
            <div class="col-sm-6 col-md-6">Tel: +27 82 501 7190 (Paul)</div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-6 col-md-6">Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for taiji">movement@mukti.co.za</a></div>
            <div class="col-sm-6 col-md-6">Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for martial arts">movement@mukti.co.za</a></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    