<br />
<section>
  <div class="container">
    <div class="col-sm-12 col-md-12">
      <h1>Class Schedule</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>MON</th>
            <th>TUE</th>
            <th>WED</th>
            <th>THU</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td>Xing Yi</td>
            <td></td>
            <td></td>
            <td></td>
            <td>5:00pm - 7:00pm</td>
          </tr>         
          <tr>
            <td>Bagua</td>
            <td></td>
            <td></td>
            <td></td>
            <td>5:00pm - 7:00pm</td>
          </tr>
        </tbody>
      </table>
        <h1>Costs and Location</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>DROP IN</th>
              <th>1 X WEEK</th>
              <th>PRIVATE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>R100</td>
              <td>R200 per month</td>
              <td>Available on request</td>
            </tr>
            <tr>
              <td colspan="4">
                All classes are held at 5 Camdon Flats, 58 Gordon Road, Morningside, Durban. 
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</section>