<br />
<section>
    <div class="container">
      <div class="col-sm-12 col-md-12" style="padding:5px">
        <div class="col-sm-12 col-md-12" style="background-color:#999; color:#fff">
          <h4>Class Schedule</h4>
        </div>
        <div class="col-sm-12 col-md-12" style="background-color:#ccc">
          <div class="col-sm-4 col-md-4"><h5><strong>System</strong></h5></div>
          <div class="col-sm-2 col-md-2"><h5><strong>Mon</strong></h5></div>
          <div class="col-sm-2 col-md-2"><h5><strong>Tue</strong></h5></div>
          <div class="col-sm-2 col-md-2"><h5><strong>Wed</strong></h5></div>
          <div class="col-sm-2 col-md-2"><h5><strong>Thu</strong></h5></div>
        </div>
      </div>         
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4">Muay Thai</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">17:30 - 19:00</div>
      </div>   
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4">Bagua Zhang</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">17:30 - 19:00</div>
      </div>    
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4">Xing Yi</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">17:30 - 19:00</div>
      </div>                  
      <div class="col-sm-12 col-md-12" style="padding:5px">
        <div class="col-sm-12 col-md-12" style="background-color:#999; color:#fff">
          <h4>Class Costs</h4>
        </div>
        <div class="col-sm-12 col-md-12" style="background-color:#ccc">
          <div class="col-sm-3 col-md-3"><h5><strong>Drop In</strong></h5></div>
          <div class="col-sm-3 col-md-3"><h5><strong>1 x Week</strong></h5></div>
          <div class="col-sm-3 col-md-3"><h5><strong>2 x Week</strong></h5></div>
          <div class="col-sm-3 col-md-3"><h5><strong>Private</strong></h5></div>
        </div>
        <div class="col-sm-12 col-md-12">
          <div class="col-sm-3 col-md-3">R80</div>
          <div class="col-sm-3 col-md-3">R250 per month</div>
          <div class="col-sm-3 col-md-3">R500 per month</div>
          <div class="col-sm-3 col-md-3">Available on request</div>
        </div> 
      </div>
      <div class="col-sm-12 col-md-12">
          <h5>All classes are held at 501 Esther Roberts Road (formerly known as Frere Road), Glenwood, Durban.</h5>
        </div>
    </div>
</section>
