<!-- <div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/yoga/yoga9.jpg" width="1000" height="300" alt="Yoga">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/bagua/bagua3.jpg" width="150" height="146" alt="Bagua Zhang Kung Fu">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>Everything flows, nothing stands still - </b>Heraclitus of Ephesus</b></h5>
      </p>       
      <p>
        We are really sorry but the page that you have requested is no longer available.  It seems that the page you were trying to reach doesn't exist anymore. Why not try and start again from the <a href="#/home">home page</a>. Please contact us at <a href="mailto:webmaster@mukti.co.za" itemprop="url">webmaster@mukti.co.za</a> should you need any further assistance.
      </p> 
    </div>
  </div>
</div> 

 -->

 <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis quam cursus, suscipit nunc ac, bibendum diam. Suspendisse potenti. Proin pretium quam eget ipsum ornare, vitae suscipit quam bibendum. Nunc tristique pellentesque ipsum. Aenean in pharetra turpis. Donec ipsum eros, fringilla nec nisi nec, ullamcorper fringilla nunc. Praesent vitae pharetra odio, quis consectetur magna. Suspendisse eget tincidunt erat. Quisque sodales pellentesque consectetur. Nulla auctor lobortis erat sed vehicula.
</p>
<p>
  Sed leo nunc, tempus vestibulum nulla ut, faucibus vehicula augue. Quisque faucibus in nisi at semper. Suspendisse potenti. Donec venenatis tellus libero, quis ornare neque faucibus sit amet. Curabitur molestie nunc ligula, sit amet scelerisque arcu efficitur ac. Integer porta nunc vitae ipsum sollicitudin rhoncus. Integer maximus risus in velit luctus scelerisque. Praesent quis risus ut arcu dictum tincidunt. In ultricies quis arcu id ornare. Pellentesque ipsum urna, aliquet at diam finibus, ultrices dignissim libero. Nunc commodo leo sagittis nisi placerat congue. Donec iaculis, elit et tincidunt efficitur, felis nisl porta ex, et aliquam lacus eros et leo. Duis eu odio mattis, egestas elit at, scelerisque ex. Pellentesque lacinia efficitur ipsum, sit amet accumsan ipsum consequat sed. Donec quis pretium urna, at tincidunt magna.
</p>