<br />
<section class="features_teasers_wrapper">
    <div class="container">
        <div class="row">

          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/bagua.jpg" width="100" height="100" border="0">
            <h3><a ui-sref="BaguaKungFu">Bagua Zhang Kung Fu</a></h3>
            <p>
            is an art of striking while moving which employs intricate kicking, throwing, and grappling techniques which are set up by strikes executed as the practitioner moves around the opponent in a circular fashion.
            </p>
          </div>
          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/taiji.jpg" width="100" height="100" border="0">
            <h3><a ui-sref="TaiJiKungFu">Tai Ji Kung Fu</a></h3>
            <p>
             places emphasis on using the mind to direct the body through slow and fast movements and is a fully integrated movement system that contains kicking, punching, locking, anti locking and throwing.
            </p>
          </div>
          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/xingyi.jpg" width="100" height="100" border="0">
            <h3><a ui-sref="XingYiKungFu">Xing Yi Kung Fu</a></h3>
            <p>
              can be considered the most direct and yang practice of the internal martial arts with it's primary focus being upin the five basic fist movements and a core standing practice called Santi.
            </p>
          </div>
          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/muay.jpg" width="100" height="100" border="0">
            <h3><a ui-sref="MuayThai">Practical Muay Thai</a></h3>
            <p>
              is a crisp, fast, resolute and highly efficient fighting system which seeks to train the practitioner to effectively use all of the body's natural weapons.
            </p>
          </div>
        </div>
    </div>
</section>
