<!-- <div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/yoga/yoga9.jpg" width="1000" height="300" alt="Yoga">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/bagua/bagua3.jpg" width="150" height="146" alt="Bagua Zhang Kung Fu">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>Everything flows, nothing stands still - </b>Heraclitus of Ephesus</b></h5>
      </p>       
      <p>
        At Mukti movement we provide systematic instruction to help motivated individuals to attain an understanding of their movement potential through the vehicles of Yoga, Qigong and the martial art of Ba Gua Zhang Kung Fu. 
      </p> 
    </div>
  </div>
</div> 
<div class="row">
  <div class="large-12 columns">
    <p>
      The word "Mukti" is derived from the Sanskrit root word Mukt and has various meanings which include liberation and freedom, release or salvation. Classes are offered in various Eastern mind / body practices which include Hatha, Vinyasa and Ashtanga yoga, Qigong and Ba Gua Zhang Kung Fu.
    </p>
    <p>
      For further information, please read more about the <a href="#/yoga">Yoga</a> and <a href="#/bagua">Kung Fu</a> that we teach. You can also follow us on our <a href="http://baguakungfu.wordpress.com/" target="_blank">blog</a>
    </p>   
  </div>
</div>
 -->
    <br />
    <section class="features_teasers_wrapper">
      <div class="container">
        <div class="row">
          <div class="feature_teaser col-sm-4 col-md-4"> <img alt="Mukti Movement" src="assets/images/taiji.jpg" width="111" height="111" border="0">
            <h3>Our Mission</h3>
            <p>
              is to provide systematic instruction to help motivated individuals to attain an understanding of their movement potential through the vehicles of Yoga, Qigong and the martial art of Ba Gua Zhang Kung Fu. 
            </p>
          </div>
          <div class="feature_teaser col-sm-4 col-md-4"> <img alt="Bagua Kung Fu" src="assets/images/bagua.jpg" width="111" height="111" border="0">
            <h3>Bagua Zhang Kung Fu</h3>
            <p>
            is an art of striking while moving which employs intricate kicking, throwing, and grappling techniques which are set up by strikes executed as the practitioner moves around the opponent in a circular fashion.
            </p>
          </div>
          <div class="feature_teaser col-sm-4 col-md-4"> <img alt="Yoga" src="assets/images/yoga.jpg" width="111" height="111" border="0">
            <h3>Yoga</h3>
            <p>
               works on your conscience. Yoga works on your consciousness. Yoga works on your intelligence. Yoga works on your senses. Yoga works on your flesh. Yoga works on your organs of perception.
            </p>
          </div>
        </div>
      </div>
    </section>