<br />
<section class="features_teasers_wrapper">
    <div class="container">
        <div class="row">

          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/bagua.jpg" width="100" height="100" border="0">
            <h3>Bagua Zhang Kung Fu</h3>
            <p>
            is an art of striking while moving which employs intricate kicking, throwing, and grappling techniques which are set up by strikes executed as the practitioner moves around the opponent in a circular fashion.
            </p>
          </div>
          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/taiji.jpg" width="100" height="100" border="0">
            <h3>Tai Ji Kung Fu</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra ex vestibulum risus vehicula, nec pharetra lacus mattis. Nam placerat, ligula ut imperdiet rutrum, tellus urna lacinia mi, sed ultricies enim massa non libero. Curabitur laoreet, felis quis convallis placerat, ligula lacus consectetur ex, eu rhoncus nibh tortor in lectus.
            </p>
          </div>
          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/xingyi.jpg" width="100" height="100" border="0">
            <h3>Xing Yi Kung Fu</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra ex vestibulum risus vehicula, nec pharetra lacus mattis. Nam placerat, ligula ut imperdiet rutrum, tellus urna lacinia mi, sed ultricies enim massa non libero. Curabitur laoreet, felis quis convallis placerat, ligula lacus consectetur ex, eu rhoncus nibh tortor in lectus.
            </p>
          </div>
          <div class="feature_teaser col-sm-3 col-md-3"> <img alt="Bagua Kung Fu" src="assets/images/muay.jpg" width="100" height="100" border="0">
            <h3>Muay Thai Boran</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra ex vestibulum risus vehicula, nec pharetra lacus mattis. Nam placerat, ligula ut imperdiet rutrum, tellus urna lacinia mi, sed ultricies enim massa non libero. Curabitur laoreet, felis quis convallis placerat, ligula lacus consectetur ex, eu rhoncus nibh tortor in lectus.
            </p>
          </div>
        </div>
    </div>
</section>
