<section class="hgroup">
    <div class="container">
        <h1>What is Yoga?</h1>
        <h2>A Hindu spiritual and ascetic discipline, a part of which, including breath control, simple meditation, and the adoption of specific bodily postures, is widely practised for health and relaxation.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <p>
                    Vinyasa yoga, in which movement is synchronized to the breath, is a term that covers a broad range of yoga classes. This style is sometimes also called flow yoga, because of the smooth way that the poses run together and become like a dance. The breath becomes an important component because the teacher will instruct you to move from one pose to the next on an inhale or an exhale. Vinyasa is literally means "connection," between movement and breath.
                </p>
                <p>
                    Ashtanga yoga is extremely popular and inspires fierce loyalty in its students. This vigorous, athletic style of practice appeals to those who like a sense of order and who like to do things independently. Ashtanga yoga, also known as “Power yoga” uses a sequence of asanas that are linked with the breath. It generates heat which facilitates flexibility and gives a great sense of wellbeing. The vinyasa or link through flowing movement done between asanas, also gives an uninterrupted continuity or a “moving meditation” as it were.
                </p>
                <blockquote>
                    <p>
                        Through the practice of Ashtanga and Vinyasa yoga we gain control of the senses and a deep awareness of our selves. By maintaining this discipline with regularity one acquires steadiness of body and mind.
                    </p>
                    <small>Nicky van der Hulst</small>
                </blockquote>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service_teaser vertical">
                    <div class="service_photo">
                        <figure style="background-image:url(assets/images/yoga4.jpg)"></figure>
                    </div>
                    <div class="service_details">
                        <h2 class="section_header skincolored"><b>Nicky van der Hulst</b><small>Ashtanga and Vinyasa Yoga</small></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
