<section class="hgroup">
    <div class="container">
        <h1>What is Practical Muay Thai Self Defence?</h1>
        <h2>Practical Muay Thai Self Defence is not a sport. The aim of this fighting method is to train the practitioner to use the entire body as an attacking surface.</h2>
    </div>
</section>
<section class="article-text">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <p>
          It is a practical fighting system which includes fundamental striking methods for all of the natural weapons of the body. These weapons are subsequently drilled in all of the primary vectors of movement, namely forwards and backwards, upwards and downwards, side to side.
        </p>
        <blockquote>
          <p>
            Employing devastating striking, bone breaking joint locks and throws, this practical method of self defence is fast, efficient, resolute and deadly.
          </p>
        </blockquote>
        <p>
            In addition to the offensive and defensive techniques of Practical Muay Thai Self Defence, specific stepping drills are practiced which include the Standing Step, One Step, Two Step and Three Step methods. The key advantage of training these varied stepping methods is the development of speed, balance and precision when advancing, retreating or turning the back.
        </p>
      </div>
  </div>
</section>
