<section class="hgroup">
    <div class="container">
        <h1>What is Tai Ji Kung Fu?</h1>
        <h2>Tai Ji places emphasis on using the mind to direct the body through slow and fast movements. The form can be practiced for health or for self defense and is a fully integrated movement system that embodies, kicking, punching, locking, anti locking and throwing. Tai Ji Chuan is a potent internal martial art that builds internal chi and power. It is an art form that can be practiced alongside many other martial art forms, building greater sensitivity and strength for fighting.</h2>
    </div>
</section>
<section class="article-text">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <p>
          In the theory of the I Ching, the Limitless (Wuji) produces the delimited absolute  or Taiji. The Taiji itself produces two forms known as the Liangyi. These are named yin and yang. The combination of these two forms produces the four phenomena or Sixiang. These are Taiyin, Shaoyang, Shaoyin, and Taiyang. These four phenomena act upon each other the create the 8 trigrams or Ba Gua. These 8 trigrams combine to create the 64 Hexagrams of the I Ching. 
        </p>
        <blockquote>
          <p>
            The teacher however, can only lead the student to the correct gate, he cannot compel him to go further, Somewhere inside the gates masses gold and diamonds lie hidden. It is up to the student to go beyond the door and into the inner rooms to search for the treasure. So in order to acquire the art one must have a determined and enduring mind, ready to persevere and study hard. If one relies entirely on the teacher one will never find the treasure.
          </p>
          <small>Master T.T. Liang</small>
        </blockquote>
        <p>
           Tai Ji can aid in the treatment of neck, joint and back problems, headaches, high blood pressure, impotence, constipation, asthma, angina, heart problems and recuperation from surgery or sport injuries.  Other benefits include increased joint mobility, more efficient blood circulation, deeper respiratory function and overall organ efficiency.
        </p>        
      </div>
  </div>
</section>
