<section class="hgroup">
    <div class="container">
        <h1>What is Xing Yi Chuan Kung Fu?</h1>
        <h2>Xing Yi Chuan roughly translated means mind and body form. In practice, the student trains the mind (Yi) to control the body (Xing). This connects the inner, internal power (Nei Gong) with the outer, external shape (Wai Xing). The form or "shape" of the movements is the physical manifestation of the "shape" of one's intent. In application, the practitioner strives to be aggressive and to develop an active and explosive offence. The direction of the forms is direct and linear.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sem ligula, venenatis in pulvinar non, aliquam id ante. Etiam congue, orci in vehicula dignissim, velit neque rhoncus leo, non consequat ex risus non augue. Nam faucibus tincidunt neque, et condimentum enim laoreet quis. Pellentesque scelerisque urna vel vulputate sollicitudin. Cras id sapien a odio hendrerit pellentesque eu eu mauris. In hac habitasse platea dictumst. Phasellus tempus auctor massa, eu feugiat nulla condimentum non. Suspendisse potenti. In suscipit tellus vitae imperdiet egestas.
                </p>
                <p>
                    According to the principles of this style, attacking with clear intent serves as the best defence with attack and defence occurring simultaneously. Action and movement are tight and compact, limiting any openings for counterattack.
                </p>
                <blockquote>
                    <p>
                        The Xing Yi Five Elements are in effect the five energies that, according to Taoist cosmology, comprise the energy matrix of the universe. In addition, each of the following Xing Yi Five Elements utilize a particular hand technique that moves power along a specific physical force vector.
                    </p>
                </blockquote>
                <p>
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Movement</th>
                            <th>Fist</th>
                            <th>Chinese</th>
                            <th>Pinyin</th>
                            <th>Explanation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td valign="top">Metal</td>
                            <td valign="top">Chopping</td>
                            <td valign="top">劈</td>
                            <td valign="top">Pī</td>
                            <td valign="top">The motion of Pi Chuan  goes from up to down, utilizing pushing downward internal energy. This fist is linked to the Metal element, and Pi Chuan focuses on making an extremely strong spine and hands as hard as steel.</td>
                        </tr>
                        <tr>
                            <td valign="top">Water</td>
                            <td valign="top">Drilling</td>
                            <td valign="top">鑽</td>
                            <td valign="top">Zuān</td>
                            <td valign="top">The motion of Zuan Chuan goes from down to up using expansive energy. It is linked to the Water Element, and focuses on making the hands able to move around the opponent's defense like water moves around a rock.</td>
                        </tr>
                        <tr>
                            <td valign="top">Wood</td>
                            <td valign="top">Crushing</td>
                            <td valign="top">崩</td>
                            <td valign="top">Bēng</td>
                            <td valign="top">Beng Chuan uses straight-ahead physical motion. It is linked to the Wood Element and focuses on making the fists "grow" out of the body. It is often compared to the force of a powerful plant growing and expanding through concrete with a steady, inexorable force.</td>
                        </tr>
                        <tr>
                            <td valign="top">Fire</td>
                            <td valign="top">Pounding</td>
                            <td valign="top">炮</td>
                            <td valign="top">Pào</td>
                            <td valign="top">The Pao Chuan technique focuses on diagonal physical motion. It is linked to the Fire Element and focuses on explosive and rapidly oscillating releases of power. In Pao Chuan, one hand initially contacts and shifts the opponent's center of balance, while the other explodes into their body.</td>
                        </tr>
                        <tr>
                            <td valign="top">Earth</td>
                            <td valign="top">Crossing</td>
                            <td valign="top">橫</td>
                            <td valign="top">Héng</td>
                            <td valign="top">Heng Chuan focuses on the inside of the fist moving horizontally. It is linked to the Earth Element, and focuses on tightening the cross-linkages between the left and right sides of the inside of the abdominal cavity.</td>
                        </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>
</section>
