<section class="hgroup">
    <div class="container">
        <h1>What is Yin Style Bagua?</h1>
        <h2>Originating in 1860s China and first used by imperial bodyguards working in the Forbidden City, Yin Style Bagua has maintained its combat effectiveness to the present day.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <p>
                    Yin Style Baguazhang is an art of striking while moving. It is a combative art with precise theoretical and technical qualities. The fighting theory and usage, outward appearance, and internal development methods all originate from and accord with a classic of ancient Chinese philosophy known as the Book of Changes. It is this philosophy which gives us the rules of the circle and square. In Yin Stlye Bagua, we turn round and strike square. In accord with the symbolism and meaning of the eight trigrams in the Book of Changes, Yin Style Bagua has eight distinct systems within the art. Each of these systems, represented by a trigram and particular animal, stands on its own as a complete martial art with unique developmental and fighting methods.
                </p>
                 <blockquote>
                    <p>
                        Yin Style Bagua emphasizes developing the mind and body together - it is equal parts mental and physical. Training this art will make you stronger, healthier, and a more skilled fighter.
                    </p>
                    <small>He Jinbao</small>
                </blockquote>
                <p>
                  This martial art creates a tremendously strong yet supple body that possesses an infinite variety of changes in movement, energy and angle. By the awareness generated through the practice of this unique Kung Fu, one learns to comprehend the universal constant of change.
                </p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="50%">What does the martial art entail?</th>
                      <th width="50%">What are the benefits of this martial art?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Standing and moving Qigong exercises.</td>
                      <td>An improved sense of balance and enhanced peripheral awareness.</td>
                    </tr>
                    <tr>
                      <td>Circle Walking moving meditation.</td>
                      <td>The ability to quickly change both direction and energy.</td>
                    </tr>
                    <tr>
                      <td>Animal forms and striking patterns.</td>
                      <td>Improved self defence and an understanding of how angles, fulcrums and energy changes affect movement and combat.</td>
                    </tr>
                    <tr>
                      <td>Bagua weapons training</td>
                      <td>The ability to go with the flow and adapt to changing conditions and environments</td>
                    </tr>
                  </tbody>
              </table>

            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service_teaser vertical">
                    <div class="service_photo">
                        <figure style="background-image:url(assets/images/Xie_JB.jpg)"></figure>
                    </div>
                    <div class="service_details">
                        <h2 class="section_header skincolored"><b>He Jinbao / Xie Peiqi</b><small>Yin Style Bagua</small></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section> 